---
---

@import "{{ site.theme }}";

// test
.main-content {
    h1 {
     color: #ff0000;
   }
  }

.wrapper {
    max-width: calc(1000px - (30px * 2));
}

table th { 
    min-width: 180px;
}

table td { 
    vertical-align: top;
}