---
---

@import "{{ site.theme }}";


// this didn't work 
// yes, all this down here
.wrapper {
    max-width: calc(1000px - (30px * 2));
}

table th { 
    min-width: 180px;
}

table td { 
    vertical-align: top;
}